---

- name: Debug | ansible_facts['distribution_version']
  ansible.builtin.debug:
    var: ansible_facts['distribution_version']

- name: Import yubikey-elcapitan
  ansible.builtin.import_tasks: yubikey-elcapitan.yml
  when: ansible_facts['distribution_version'] is version_compare( '10.12', '<')

- name: Import yubikey-sierra-piv
  ansible.builtin.import_tasks: yubikey-sierra-piv.yml
  when: ansible_facts['distribution_version'] is version_compare( '10.12', '>=')
